body {
    background-image: url(bgcolor.jpg);
    min-height: 100%;

    flex-direction: column;
}

html {
    height: 100%;
}

.marquee {
    background-color: black;
    color: whitesmoke;
}

.image {
    width: 380px;
    height: 130px;
    padding-left: 8%;
    margin-top: 3%;
}

.li {
    list-style-type: none;
}


.nav {

    list-style-type: none;
    overflow: hidden;
    padding-left: 3%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav a {
    text-decoration: none;
    padding: 4px;
    display: block;
    text-align: center;
    color: whitesmoke;

}

.nav a:hover {
    background-color: rgb(233, 212, 212);
}

.nav li {
    float: left;
    list-style-type: none;
    padding: 4px;

}

a.active,
a:hover {
    background: #1b9fff;

}

.installa {
    width: 1000px;
    padding-left: 10%;
    padding-top: 5%;
}

.foot {
    background-color: rgba(0, 0, 0, 0.6);
}

.marquee1 {
    height: 300px;
}

.fa-square-instagram {
    font-size: 20px;
    color: rgb(248, 171, 29);
    padding: 4px;
}

.fa-linkedin {
    font-size: 20px;
    color: white;
    padding: 4px;
}

@media screen and (max-width:600px) {
    .nav a {
        font-size: 10px;
    }

    .installa {
        width: 300px;
        height: 230px;
    }

    .image {
        width: 300px;
    }

    .foot {
        background-color: rgb(10, 2, 87);

    }

    .marquee1 {
        height: 200px;
    }

    .fa-square-instagram {
        font-size: 20px;
        color: rgb(248, 171, 29);
        padding: 4px;
    }

    .fa-linkedin {
        font-size: 20px;
        color: white;
        padding: 4px;
    }
}